@model List<MvcCV.Models.Entity.certificate>
<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Sertifikalarım</h2>
        <ul class="fa-ul mb-0">
            @foreach (var c in Model)
            {
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    @c.descreption
                </li>
            }



        </ul>
    </div>
</section>