@using MvcCV.Models.Entity
<div class="resume-section-content">
    <h2 class="mb-5">İletişim</h2>
    <div style="background-color:beige; border:outset ">
        <form method="post">
            <br />
            <input type="text" name="namesurname" placeholder="isim soyisim" class="form-control" />
            <br />
            <input type="text" name="mail" placeholder="mail adresiniz" class="form-control" />
            <br />
            <input type="text" name="subject" placeholder="konu" class="form-control" />
            <br />
            <input type="text" name="message" placeholder="mesajınız" class="form-control" />
            <br />
            <button style="border-radius:12px;" class="btn-success">Gönder </button>
            <br /> <br />
        </form>
    </div>
    </div>