
@{
    ViewBag.Title = "expAdd";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<br />
<h2 class="card-header" style="color: white; background-color: gray; text-align: center ">Deneyim Ekleme Sayfası</h2>
<br />

<div style="background-color:darkgray; border:outset; color:white ">
    <form method="post">
        <br />
        <input type="text" name="company" placeholder="sirket adı" class="form-control" />
        <br />
        <input type="text" name="tittle" placeholder="ünvan" class="form-control" />
        <br />
        <input type="text" name="subtittle" placeholder="görev tanımı" class="form-control" />
        <br />
        <input type="text" name="date" placeholder="tarih" class="form-control" />
        <br />
        <button style="border-radius:12px;" class="btn-outline-dark"> Kaydet </button>
        <br /> <br />
    </form>
</div>