@model MvcCV.Models.Entity.interest
@{
    ViewBag.Title = "interestUpdate";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<br />
<h2 class="card-header" style="color: white; background-color: gray; text-align: center ">Hobi Güncelleme Sayfası</h2>
<br />

<div style="background-color:darkgray; border:outset; color:white ">
    <form method="post">
        <br />        
        @Html.HiddenFor(x=>x.interestID)<br />
        @Html.TextBoxFor(x => x.interesetDesc1, new { @class = "form-control" })<br />
        @Html.TextBoxFor(x => x.interesetDesc2, new { @class = "form-control" })<br />
        <button style="border-radius:12px;" class="btn-outline-dark"> Kaydet </button>
        <br /> <br />
    </form>
</div>

